@import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@200,300,400,500,700,800,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Cabinet Grotesk', sans-serif;
  }
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-yellow-400 to-yellow-600;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.bg-gradient-radial {
  background-image: radial-gradient(var(--tw-gradient-stops));
}